<nav class="navbar navbar-inverse navbar-toggleable-md bg-primary">
    <a class="navbar-brand" href="#">angular2-modal</a>
    <div class="collapse navbar-collapse show">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]=" ['./'] "
                   routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]=" ['./documentation'] "
                   routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
                    Documentation
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]=" ['./bootstrap-demo'] "
                   routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
                    Bootstrap Plugin
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]=" ['./vex-demo'] "
                   routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
                    VEX Plugin
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]=" ['./js-native-demo'] "
                   routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
                    JS Native Plugin
                </a>
            </li>
        </ul>
        <div class="navbar-nav">
            <a class="nav-link" href="https://github.com/shlomiassaf/angular2-modal" target="_blank">
                <img src="https://material.angular.io/assets/img/homepage/github-circle-white-transparent.svg" />
                Github
            </a>
        </div>
    </div>
</nav>
<main>
    <router-outlet></router-outlet>
</main>

