<div class="container">
    <h1>Angular 2 (beta) Bootstrap Typeahead</h1>
    <br>
    <input type="text"
           class="form-control"
           [(ngModel)]="statesInput"
           [typeahead]="states"
           [typeaheadLimit]="3"
           typeaheadAppendToBody="typeaheadDropdownPlaceholder"
           [typeaheadFocusFirst]="true"
           [typeaheadWaitMs]="300"
           (typeaheadMatchSelected)="onMatchSelected($event)"/>

    <input type="text"
           class="form-control"
           [(ngModel)]="statesComplexInput"
           [typeahead]="statesComplex"
           typeaheadFieldMap="name"
           (typeaheadMatchSelected)="onMatchSelected($event)"
           [typeaheadMinLength]="2"
           [typeaheadWaitMs]="300" />

    <input type="text"
           class="form-control"
           [(ngModel)]="httpInput"
           [typeahead]="searchValueToHttpMapper"
           [typeaheadTemplate]="customItemTemplate"
           [typeaheadFieldMap]="'formatted_address'"
           [typeaheadMinLength]="3"
           [typeaheadLimit]="5"
           [typeaheadWaitMs]="300"
           [typeaheadShowLoading]="true"
           (typeaheadMatchSelected)="onMatchSelected($event)" />
</div>
