/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import '~bootstrap/dist/css/bootstrap.min.css';

$font-family: "Open Sans", Helvetica, Arial, sans-serif;

html {
  height: 100%;
}
body {
  font-weight: 300;
  font-size: 16px;
  height: 100%;
}

body, .navbar, .btn, .label, .pager, .pagination,
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-family;
}

main {
  height: calc(100% - 56px);
}
.btn {
  cursor: pointer;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: auto;
}
